body {
    background : #fff
}

a:hover {
    text-decoration : none !important;
}

.widget ul {
    list-style-position : outside;
}

h3,
.widget.widget_woo_twitter h3 {
    border-bottom : 2px solid #439539;
    margin : 0 0 12px;
    padding : 0 0 6px;
}

.profile-content h3 {
    border-bottom : none;
}

a:link,
a:visited,
#main.video-archive .sorting li a:hover,
#main.video-archive .sorting li.active a {
    color : #439539
}
slider-content
#top {
    background : none;
    float : right;
}

#top .nav a {
    color : #fff;
    font-size : 10px;
    padding : 6px 6px 9px;
}

#top-nav {
    border-bottom : solid 1px #fff;
    float : right;
}

#top .nav a:hover, 
#top .nav li.current_page_item a, 
#top .nav li.current_page_parent a,
#top .nav li.current-menu-ancestor a,
#top .nav li.current-cat a,
#top .nav li.current-menu-item a,
#top .nav li.sfHover {
    color : #fff;
    background : #000000 !important;  
}

#top .nav li ul {
    background-color : #555555 !important;
}

#top .nav li ul li {
    box-shadow : none;
    -webkit-box-shadow : none;
    -moz-box-shadow : none
}

#top .nav li ul li a {
    margin : 0px !important;
}

#top .nav a, #tabs-home ul.wooTabs li a {
    border-radius : 0px 0px 0 0 !important;
    -moz-border-radius : 0px 0px 0 0 !important;
    -webkit-border-radius :  0px 0px 0 0 !important;
}

#top .nav li ul, #top .nav li ul li:last-child a {
    border-radius : 0px 0px 4px 4px !important;
    -moz-border-radius : 0px 0px 4px 4px !important;
    -webkit-border-radius :  0px 0px 4px 4px !important;
}

#social-links {
    float   : right;
    margin-right : -20px;
}

.addthis_toolbox a {
    margin : 2px 0 -2px;
}

#header {
    margin-bottom : 6px;
    min-width : 980px;
}

#header #header-top {
    min-height : 108px;
    padding : 6px 0 12px;
}

#top .col-full, #header-top .col-full {
    position : relative;
}

#header #header-top,
#navigation {
    background : #439539
}

#logo {
    float : left;
    margin : 6px 0 0;
}

#search-top {
    float : right;
}

#main-navigation {
    clear : both;
    float : left;
    margin : -49px 0px 0px 120px;
    width : 840px;
}

#main-nav li li {
    background  : #ebedea;
}

#main-nav li {
    margin-right : 3px;
}

#main-nav li ul li a {
    color : #000;
    cursor : pointer;
}

#main-nav.nav li ul li a {
    line-height	: 35px !important;
}

.nav a,
#tabs-home ul.wooTabs li a {
    border-radius : 4px 4px 0 0;
    -moz-border-radius : 4px 4px 0 0;
    -webkit-border-radius :  4px 4px 0 0;
    color : #fff;
    font-family : 'PT Sans', arial, sans-serif;
    font-size : 14px;
    line-height : 43px !important;
    padding : 0px 10px 6px;
    text-shadow : none;
    text-transform : uppercase
}

.nav a:hover,
.nav li.current_page_item a,
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a,
.nav li.current-cat a,
.nav li.current-menu-item a,
#tabs-home ul.wooTabs li a:hover,
.nav li.sfHover a {
    background : #ebedea;
    color : #000;
}

.nav .sf-sub-indicator {
    top : 40%;
}

#home-tab-latest div.pagination {
    display : none;
}



#tagline {
    clear : both;
    color : #439539;
    font-size : 28px;
    font-weight : bold;
    line-height : 32px;
    padding : 15px 0 15px 0px;
}

.site-description {
    margin : 0px;
}

.site-description h1 {
    float : left;
    color : #fff;
    font-size : 16px;
    width : auto;
}

.site-description h1 b {
    font-size : 18px;
}

#content {
    background : none;
    border-radius : 0;
    -moz-border-radius : 0;
    -webkit-border-radius : 0;
    box-shadow : none;
    -webkit-box-shadow : none;
    -moz-box-shadow : none
}

#content-wrap {
    background : #fff;
    clear: left;    
    padding-top : 30px;
    
}

.home #content-wrap {
    overflow-x : hidden;
    width : 660px;
}

.archive #content-wrap, 
.page #content-wrap, 
.single-post #content-wrap,  
.search #content-wrap {
    padding-top : 2px;
}

.ie #feat-video {
	BACKGROUND: none;
}

#feat-title .title {

    margin-top : 52px;
    margin-bottom : 0px;
}

.ie7 #feat-title .title {
    line-height : 36px;
}

.search img.thumbnail {
    float      : left;
    margin: 0px 10px 20px 0px;
}

#tabs-home {
    background : none;
    border-radius : 0;
    -moz-border-radius : 0;
    -webkit-border-radius : 0;
    box-shadow : none;
    -webkit-box-shadow : none;
    -moz-box-shadow : none;
    width : 660px;
}

#tabs-home ul.wooTabs {
    border-bottom : solid 2px #439539;
    overflow : hidden
}

#tabs-home ul.wooTabs li {
    background : none
}

#tabs-home ul.wooTabs li a,
#tabs-home ul.wooTabs li a.selected {
    background : #439539
}

#tabs-home ul.wooTabs li a.selected {
    background : #EBEDEA
}

#tabs-home .block {
    margin-bottom : 25px;
    min-height : 170px;
    padding : 0 15px 0 0;
    width : 145px;
}

#tabs-home .list {
    width : auto;
}

#tabs-home .block img {
    border-radius : 2px; -moz-border-radius : 2px; -webkit-border-radius : 2px;
    cursor : pointer;
    height : auto;
    max-width : 145px;
    opacity: 0.9;
}

#content-wrapper {
    height : auto;
    margin : 0 auto;
    width : 960px;
}

#slider-content {
    background : #EBEDEA;
    border : 2px solid #dfdfdf;
    border-top-color : #439539;
    border-bottom-right-radius:3px; border-bottom-left-radius:3px; -moz-border-radius-bottomright:3px; -moz-border-radius-bottomleft:3px;-webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius:3px;
    float : left;
    height : auto;
    width : 616px;
    padding : 20px;
    
}

#sidebar_wrapper {
    float : right;
    height : auto;
    width : 280px;
}

#sidebar_wrapper .widget-video-list {
    display : none;
}

#sidebar_wrapper h2 {
    color : #439539;
    font-size : 35px;
    line-height : 55px;
}

#sidebar_wrapper .widget {
    padding-bottom : 0px !important;
}

#sidebar_wrapper .widget_woo_embed {
    margin-bottom : 5px;
}

#sidebar_wrapper .widget_text {
    padding : 0px 0px 0px 20px;
    text-align : right;
}

#sidebar_wrapper #sidebar {
    padding-top : 0px;
    width : auto;
}

#menu-category-menu {
    margin : 0px;
    padding : 0px;
    width : 250px;
}

#menu-category-menu li {
    display : inline;
    list-style : none;
    margin : 0px 8px 0px 0px;
    padding : 0px;
}

#menu-category-menu li a {
    color : #000;
    font-size : 18px;
    font-weight : normal;
    line-height : 25px;
    padding : 0px;
}

#menu-category-menu li a:hover, #menu-category-menu li.current-menu-item a {
    color : #439539;
}

.textwidget a {
    color : #000;
    font-weight : normal;
}

.textwidget a:hover {
    color : #439539;
}

#slides {
    background : #ebedea;
    padding : 0px;
    width : 620px;
    margin : 0 0 0 0;
}

.ie #slides {
    background-color : #EBEDEA;
    background-image : none;
}

.slides_container {
    background-color : #EBEDEA;
    box-shadow : none;
    -webkit-box-shadow : none;
    -moz-box-shadow : none;
    margin : 0;
    width : 620px;
}

.slides_container div {
    width : 620px;    
}


#slides .slides_container .text {
    background : none repeat scroll 0 0 rgba(235, 237, 234, 1);
    margin-bottom : 0px;
    padding : 0px;
    position : relative;
    width : 100%;
}

.ie .slides_container .text {
    background : none;
}

.slides_container .text h2 {
    background-color : #EBEDEA;
    font-size : 22px;
    line-height : 22px;
    margin : 0 0 16px 0;
}

.slides_container .text h2 a {
    color : #000000;
    font-weight : normal
}

#slides .video iframe {
    width : 620px !important;
}

.slides_container p.desc {
    height : 54px;
    margin : 10px 0px;
    overflow : hidden;
}

#content-wrap ul.wooTabs li a, #content-wrap ul.wooTabs li a.selected {
    background : #FFFFFF;
    color : #999999;
}

#content-wrap ul.wooTabs li a:hover {
    background : #FFFFFF;  
}

#content-wrap ul.wooTabs li a.selected {
    color : #000000;
}

#tabs-home .block .title {
    margin : 5px 0px 4px;
}

#content-wrap .block h2 a {
    display : block;
    font-size : 12px;
    line-height : 14px;
}

#tabs-home .block .date {
    font-size : 10px;
    line-height : 12px;
}

#tabs-home .inside {
    background-color : #EBEDEA;
    padding : 15px 0 0 15px;
}

#footer {
    background : #439539;
    color : #fff;
    min-width : 980px;
    padding-bottom : 20px;
    text-shadow : none
}

#footer a {
    color : #fff;
}

#footer-widgets {
    background : #439539;
    border-radius : 0;
    min-width : 980px;
    -moz-border-radius : 0;
    -webkit-border-radius : 0;
    clear : both;
    color : #fff;
}

#footer-wrapper {
    margin : 0 auto;
    padding : 0px !important;
    position : relative;
    width : 960px;
}

#footer-wrapper .widget h3,
#footer-widgets a, #footer-widgets .widget ul li a {
    font-weight : normal;
    text-shadow : none;    
}

#footer-wrapper .widget h3 {
    background : none;
    color : #fff;
    margin : 0px 0px 10px 0px;
    padding : 0px;
}

#footer-widgets .widget ul li {
    line-height : 1;
    list-style : none;
}

#footer-widgets .block {
    width : 200px !important;
    padding : 20px 0px 0px;
}

.footer-widget-4 {
    float : right !important;
}

#footer #credit img {
    margin : 0 0 0 10px;
}

#sp-link {
    position		: absolute;
    right		: 0px;
    top			: 20px;
}

/* video page */
#feat-title .title,
.archive_header {
    color : #000;
    text-shadow : none;
}

#feat-video .video-excerpt p,
#feat-video .meta span.small,
#feat-video .meta li,
#feat-video .meta li a {
    color : #333!important;
    text-shadow : none
}

#feat-video .meta .post-tags a {
    color : #fff;
    text-shadow : none;
}

.widget {
    background : none;
    padding : 0px 0px 20px 20px;
}


#feat-video .video-excerpt {
    background : none;
}

#feat-video .share li a {
    border-style : hidden;
    font-weight : normal;
    text-shadow : none;
    width : 181px;
}

#feat-video .share li.last a, #feat-video .share li.first a {
    border-radius : 0;
    -moz-border-radius: 0;
    -webkit-border-radius : 0;
}

#feat-video .share li.first a {
    border-left : hidden;
}

#feat-video .meta .post-tags a {
    background-color : #EBEDEA !important;
}

#feat-video .meta .post-tags a:hover {
    color : #439539 !important;
}

/* twitter feed */
.widget_woo_twitter ul li .content {
    background : none;
    border : none;
    border-radius : 0;
    -moz-border-radius: 0;
    -webkit-border-radius : 0;
    padding : 0 0 6px;
}

.widget_woo_twitter ul li .time {
    background : none;
    color : #999;
    font-size : 100% !important;
    margin : 0;
    padding : 0 0 20px;
}

/* comments */
#comments .comment.bypostauthor {
    background : #DCEADB;
    border-bottom : #439539;
}

#comments .cancel-comment-reply {
    float : none;
    padding : 0 0 8px;
    text-align : right;
}

.comment-head .name {
    display : block;
}

#commentform {
    background : #fafafa;
    border-width : 1px 0;
    border-radius : 0;
    -moz-border-radius : 0;
    -webkit-border-radius : 0;
    box-shadow : none;
    -moz-box-shadow : none;
    -webkit-box-shadow : none;
    margin-bottom : 25px;
}

a.button, #commentform #submit, .submit {
    background : #439539;
    border : none;
    border-radius : 3px;
    -moz-border-radius : 3px;
    -webkit-border-radius : 3px;
    box-shadow : none;
    -webkit-box-shadow : none;
    -moz-box-shadow : none;
    text-shadow : none;
}

a.button:hover, a.button.hover, a.button.active, #commentform #submit:hover, .submit:hover {
    background : #ebedea;
    color : #000 !important;
}

/* share buttons */
#feat-video .share li a,
#feat-video .meta .post-tags a,
#feat-video .share li.first a  {
    background : #439539;
    border-color : #2e592b;
}

#feat-video .share li a:hover,
#feat-video .meta .post-tags a:hover,
#feat-video .share li.first a:hover {
    background : #ebedea;
    color : #333;
    text-shadow : none;
}

.post-more {
    background : none;
    border-width : 1px 0 2px;
    
}

#slides .pagination {
    height : 35px;
    width : 100%;
}

#slides .prev, #slides .next {
    padding-top : 0px;
    height : 35px;
    margin-top : -35px;
    text-indent : -9999px;
    top : 100%;
    width : 35px;
}

.ie7 #slides .prev, .ie7 #slides .next {
    top : 585px;
}

#slides .prev {
    background: url("images/btn-slider-prev-gtv.png") no-repeat top;
    left : 0px;
}

#slides .next {
    background: url("images/btn-slider-next-gtv.png") no-repeat top;
    left : 100%;
    margin-left : -35px;
}

#slides .pagination li a {
    margin-top : 11px;
}

#slides .pagination {
    background-color : #EBEDEA;
    margin-top : 5px;
}

.woo-pagination .current, .woo-pagination a:hover {
    background-color : #439539;
    color : #fff;
}

/* slider */
.slides_container .text {
    background : rgba(79, 152, 73, 0.6);
}


#main {
    padding-left : 0px;
    padding-top : 23px;
    width : 610px;
}

.single-woo_video  #main {
    padding-top : 0px;
}

#main.video-archive .sorting {
    width : 580px;
}

#main.video-archive .post {
    width : 189px;
}

#main.video-archive .woo-pagination {
    float : left;
    width : 100%;
}

#main span.archive_header {
    border-bottom : 2px solid #439539;
    padding-bottom : 8px;
}

#main .archive_header span {
    margin-bottom : -4px;
}

.archive_header .catrss a {
    line-height : 22px;
}

#main .entry img, img.thumbnail {
    border-radius : 0;
    -moz-border-radius : 0;
    -webkit-border-radius : 0;    
}

#main.video-archive .post img {
    cursor : pointer;
    opacity : 0.9;
}

#feat-video .video {
    padding-left : 0px;
}

.related-videos {
    background-color : #EBEDEA;   
}

.related-videos h3.title {
    background-color : #fff;
}

#feat-video .meta {
    padding : 0px;
    width : 280px;
}

.related-videos ul li {
    margin : 0px 10px 10px;
}

.ie7 #feat-video {
    background-image : none;
}

#post-author {
    display : none;
}

#sidebar {
    padding-top : 0px;
    width : 300px;
}

#sidebar .primary {
    margin-top : -3px;
}

.ie7 #sidebar .primary {
    margin-top : 20px;
}

.ie7.home #sidebar .primary {
    margin-top : 0px;
}

.ie7 #sidebar .widget {
    padding : 0px;
}

.widget_execphp h3 {
    display : none;
}

.widget_execphp {
    padding : 0px;
}

.execphpwidget img {
    margin : 28px 0px 0px 20px;
    max-width : 300px;
}

#post-entries {
    display : none;
}

#main.video-archive .sorting {
    border-radius : 0;
    -moz-border-radius : 0;
    -webkit-border-radius : 0;
}

#main.video-archive .sorting {
    text-shadow : none !important;
}

#widget_woo_embed-5 h3 {
    background : url(./images/vestas.png) 100% 50% no-repeat;
    position : relative;
}

#widget_woo_embed-5 h3 a {
    cursor : pointer;
    display : block;
    height: 100%;
    position : absolute;
    right : 0px;
    top : 0px;
    width : 60px;
}

/* 3.6 Entry Tables */
.entry table  {border: 0px solid #e6e6e6; }
.entry table td  { padding: 0px 0px 0px 0px; border: 0px solid #e6e6e6; }